header#main {
  height: 400px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4b0069;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  margin-left: 2em;
}

main {
    width: 50%;
    margin-left: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #21242b;
    border-color: #21242b;
    position: absolute;
    right: 0px;
    top: 150px;
    z-index: 0;
}

nav {
  background-color: #4056A1;
  block-size: 120px;
  width: 100%;
  padding-top: 2.5em;
  position: fixed;
  top: 0;
  z-index: 1;
 }

 spanTitle {
  color: #ffffff;
  background-color: #4056A1;
  font-size: 40px;
  font-family: 'Bungee', cursive;
  margin: 1.5em;
 }

 spanNewTweet {
  color: #ffffff;
  background-color: #4056A1;
  font-size: 15px;
  margin: 1.5em;
  float: right;
 }

 a {
  position: relative;
  left: 50px;
  color: red;
 }

 .new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font: white;
  width: 80%;
  border: none;
  padding: 7px;
  margin-top: 5px;
}

textarea {
  width: 100%;
  height: 40px;
  resize: none;
  background-color: #21242b;
  color: white;
  border-bottom: solid 3px white; 
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  outline: none;
  margin-bottom: 3px;
}

h4 {
  color: white;
}

button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}

.counter {
  float: right;
  color: white;
}

.counterRed {
  color: red;
}

.error-message-empty {
  color: red;
  border: red solid 2px;
  display: none;
}

.error-message-long-tweet {
  color: red;
  border: red solid 2px;
  display: none;
}

.tweets-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 7px;
  padding: 7px;
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 9.3em;
  margin-right: 9.3em;
  
}

#tweets-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 120%;
}

.tweets-container:hover {
  box-shadow: 5px 5px rgb(238, 255, 0);
}

span {
  color: white;
  float: left;
}

footer {
  gap: 8px;
}

i:hover {
  color: yellow;
}

i {
  color: red;
  float: right;
  gap: 1em;
}

P {
  color: white;
  border-bottom: solid 3px white;
  margin-top: 2px;
}

header#tweets {
  height: 50px;
}

div1 {
  color: white;
  float: right;
}

user {
  color: white;
}

pic {
  height: 100%;
  color: white;
}
