main {
  width: 45%;
  margin-left: 50px;
  margin-right: 20px;
  float: right;
  position: relative;
  top: -400px;
  color: black;
  background-color: #21242b;
  border-color: #21242b;
  z-index: -4;
 }

header#main {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #4b0069;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

body {
  color: #21242b;
  background-color: #21242b;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 120px;
  z-index: -3;
}

#tweets-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 150%;
  margin-right: 4em;
  z-index: -2;
}

.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font: white;
  width: 100%;
  border: none;
  padding: 7px;
  margin-top: 5px;
  z-index: -1;
}

nav {
  background-color: #4056A1;
  block-size: 120px;
  width: 100%;
  padding-top: 2.5em;
  position: fixed;
  top: 0;
  z-index: 0;
 }

 