header#main {
  height: 400px;
  width: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4b0069;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}


