nav {
  background-color: #4056A1;
  block-size: 120px;
  width: 100%;
  padding-top: 2.5em;
  position: fixed;
  top: 0;
 }

 spanTitle {
  color: #ffffff;
  background-color: #4056A1;
  font-size: 40px;
  font-family: 'Bungee', cursive;
  margin: 1.5em;
 }

 spanNewTweet {
  color: #ffffff;
  background-color: #4056A1;
  font-size: 15px;
  margin: 1.5em;
  float: right;
 }

 a {
  position: relative;
  left: 50px;
  color: red;

 }