.new-tweet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font: white;
  width: 80%;
  border: none;
  padding: 7px;
  margin-top: 5px;
}

textarea {
  width: 100%;
  height: 40px;
  resize: none;
  background-color: #21242b;
  color: white;
  border-bottom: solid 3px white; 
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  outline: none;
  margin-bottom: 3px;
}

h4 {
  color: white;
}



button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
}

.counter {
  float: right;
  color: white;
}

.error-message-empty {
  color: red;
  border: red solid 2px;
  display: none;
}

.error-message-long-tweet {
  color: red;
  border: red solid 2px;
  display: none;
}